<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nerdbank.GitVersioning" version="1.1.2-rc" targetFramework="portable4-net4+sl5+win8+wp8+wpa81" developmentDependency="true" />
  <package id="NuProj" version="0.10.4-beta-gf7fc34e7d8" developmentDependency="true" />
  <package id="NuProj.Common" version="0.10.4-beta" targetFramework="portable4-net4+sl5+win8+wp8+wpa81" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta003" targetFramework="portable4-net4+sl5+win8+wp8+wpa81" developmentDependency="true" />
</packages>